body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4e9b3;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 20px;
    color: white;
}

header img {
    width: 150px;
    border-radius: 50%;
}

header h1 {
    font-size: 2.5em;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffdeab;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    font-size: 2em;
    color: #ff7e5f;
}

main p {
    margin: 20px auto;
    max-width: 800px;
    text-align: justify;
}

main li {
    list-style-type: none;
    margin: 10px 0;
}

main li a {
    color: #ff7e5f;
    text-decoration: none;
    font-weight: bold;
}

main li a:hover {
    text-decoration: underline;
}

main img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

main img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #ff7e5f;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: #ff7e5f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
